:root {
  /* Primary: Huelveño Horizon */
  --primary-100: #f2f8ff;
  --primary-200: #bcdeff;
  --primary-300: #85c8fc;
  --primary-400: #4db7f6;
  --primary-500: #17a8eb;
  --primary-600: #088cba;
  --primary-700: #026d88;
  --primary-800: #004b57;
  --primary-900: #002326;

  /* Accent: Rouge Red */
  --accent-100: #fff2f2;
  --accent-200: #ffcbcb;
  --accent-300: #fba2a8;
  --accent-400: #f27787;
  --accent-500: #e04c67;
  --accent-600: #b22849;
  --accent-700: #831637;
  --accent-800: #550c26;
  --accent-900: #260513;

  /* Neutral */
  --neutral-100: #fafbfc;
  --neutral-200: #e6e8ea;
  --neutral-300: #d2d5d7;
  --neutral-400: #bfc2c5;
  --neutral-500: #abb0b3;
  --neutral-600: #888d8f;
  --neutral-700: #656a6c;
  --neutral-800: #434849;
  --neutral-900: #222626;

  /* Test Pallete */

  --neutral-800: #1d1e1f;
  --neutral-900: #111213;
  --prim-opa: linear-gradient(45deg, var(--neutral-800), var(--accent-800));
  --thumb-null: linear-gradient(45deg, var(--accent-500), var(--accent-100));
  --primary-accent: linear-gradient(
    45deg,
    var(--primary-500),
    var(--accent-700)
  );
  --trans-bg: rgba(18, 20, 20, 0.5);
  --sign-btn: 2px solid var(--primary-500);
  --theme-icon: "light_mode";
}

* {
  font-family: "lexend", Sans-Serif;
}

#signin:hover {
  text-decoration: none;
}

.darkmode {
  --neutral-900: #fafbfc;
  --neutral-800: #e6e8ea;
  --neutral-700: #d2d5d7;
  --neutral-600: #bfc2c5;
  --neutral-500: #abb0b3;
  --neutral-400: #888d8f;
  --neutral-300: #656a6c;
  /* --neutral-800: #434849;
  --neutral-900: #222626; */

  /* Test Pallete */

  --neutral-200: #1d1e1f;
  --neutral-100: #111213;
  --theme-icon: "nights_stay";
}

.home__title {
  /* (s.style.webkitBackgroundClip = "text"),
                (s.style.color = "transparent"),
                (s.style.backgroundSize = "400% 400%"), */
  background: linear-gradient(to right, var(--primary-500), var(--accent-500));
  /* background-size: 400% 400%; */
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.-deco-color {
  text-decoration-color: var(--accent-500) !important;
}

#theme span::before {
  content: var(--theme-icon);
  font-family: inherit;
}
