<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="description" content="Starter Pack TenoxUI [ HTML ]" />
    <!-- Style -->
    <link rel="preload" href="./src/style/index.css" as="style" />
    <link rel="stylesheet" href="./src/style/index.css" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/tenoxui@latest/dist/css/tui.min.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tenoxui@latest/dist/css/tui.min.css"
    />
    <!-- Script -->
    <script defer src="https://cdn.jsdelivr.net/npm/tenoxui@0.4.25/dist/js/tui.js"></script>
  </head>
  <body>
    <h1 class="my-style">Tenox<span class="tc-[primary-500]">UI</span></h1>
    <p class="fw-500 fs-1.2rem ta-center tc-[neutral-400] text-style-italic">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
      debitis.
    </p>
    <footer>
      <p>Copyright &copy; 2023 Your Name. All Rights Reserved.</p>
    </footer>
    <!-- Script -->
    <script defer src="./src/script/index.js"></script>
  </body>
</html>
