@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap");

:root {
  --primary: #13de90;
  /* --primary: #c31ffa; */
  --secondary: #21a2f3;
  /* --secondary: var(--primary); */
  --darkmode-changer: "light_mode";
  --cta-color: #141c22;
  --light-opa: rgba(240, 248, 255, 0.5);
  --light: #f0f8ff;
  --sub-light: #c8d2db;
  --dark: #141c22;
  --sub-dark: #394853;
  --dark-opa: rgba(13, 13, 11, 0.4);
  --light-opa: rgba(255, 255, 241, 0.4);
  --full: stretch;
  --wrapper-col: column;
  --wrapper-row: row;
  --hero-h1: center;
  --ct-link-wi: 250px;
  --mad-start-center: flex-start;
  --theme-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
body {
  font-family: "figtree", sans-serif;
}
a {
  color: var(--dark);
}
.darkmode {
  --darkmode-changer: "nights_stay";
  /* --primary: #219fe8; */
  --light: #1d1d1d;
  --dark: #b3b3b3;

  /* --dark: #dce6ef; */
  --dark: #afbfce;
  --dark-opa: rgba(152, 163, 172, 0.4);
  /* --dark-opa: rgba(240, 248, 255, 0.5); */
  --sub-dark: #8b939a;
  --light: #141c22;
  --light-opa: rgba(13, 13, 11, 0.4);
  --sub-light: #394853;
  --light-opa: rgba(113, 118, 121, 0.4);

  color: var(--light);
}
.links {
  flex: 1 1 250px;
}
.theme-icon::before {
  content: var(--darkmode-changer);
}
@media screen and (min-width: 768px) {
  :root {
    --wrapper-col: row;
    --wrapper-row: column;
    --mad-start-center: center;
    --hero-h1: left;
    --ct-link-wi: 200px;
  }
  .links {
    flex: 1 1 200px !important;
  }
}
