@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Syne:wght@500;600&display=swap");

:root {
  --full: stretch;
  --flex-start: flex-start;
  --flex-end: flex-end;
  --sb: space-between;
  --sa: space-around;
  --se: space-evenly;
  --row-rev: row-reverse;
  --col: column;
  --col-rev: column-reverse;
  --wrap-rev: wrap-reverse;
  --repeat-x: repeat-x;
  --repeat-y: repeat-y;
  --match-parent: match-parent;
  --lower-roman: lower-roman;
  --upper-roman: upper-roman;
  --lower-alpha: lower-alpha;
  --upper-alpha: upper-alpha;
  --pre-line: pre-line;
  --pre-wrap: pre-wrap;
  --small-caps: small-caps;
  --break-word: break-word;
  --break-all: break-all;
  --keep-all: keep-all;
  --line-through: line-through;
  --video: 16/9;
}
[class*="flex"] {
  display: flex;
}
.figtree {
  font-family: "figtree", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "figtree", sans-serif;
}

@media screen and (max-width: 768px) {
  :root {
    --md-ctr: flex-start;
  }
  .md-only {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --md-ctr: center;
  }
  .md-only {
    display: block;
  }
}
